//colors
$primary-color: #000;
$secondary-color: #fff;
$terciary-color: #2196f3;

$text-color: #707070;

//font
$primary-font: 'Montserrat', sans-serif;

//grid breakpoints
$xs: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;