header {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: $primary-color;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 4;
    text-transform: uppercase;
    padding: 15px 0;
	
	@include breakpoint('extra-large-and-up') {
		height: 130px;
	}

	.header__content {
		height: 100%;
		position: relative;
	}
}

.logo {
	text-align: center;
	
	@include breakpoint('extra-large-and-up') {
		padding-top: 20px;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%);
		z-index: 5;
	}

	.logo__img {
		@include breakpoint('extra-large-and-down') {
			width: 40px;
		}
	}
}

.border-item {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    width: calc(50% - 105px);
    justify-content: end;
}

.user--icon, .menu--icon, .cart--icon {
    position: absolute;
	top: 50%;
	transform: translate(0, -50%);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    .user--icon__link, .menu--icon__link, .cart--icon__link {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
    }

}

.menu--icon {
    left: 0;

	@include breakpoint('extra-large-and-up') {
		display: none;
	}
	
	.menu--icon__link {
        background: url('../img/menu.svg') no-repeat center;
        background-size: 100% 100%;
	}
}

.user--icon {
    right:  3.6rem;

    @include breakpoint('extra-large-and-up') {
		top: 50%;
        position: absolute;
        padding: 0;
    }
    
    .user--icon__link {
        background: url('../img/logout.svg') no-repeat center;
        background-size: auto 100%;

		@include breakpoint('extra-large-and-up') {
			position: relative;
            border-left: none;
		}
	}

}

.cart--icon {
    right: 0;
	
	@include breakpoint('extra-large-and-up') {
		right: 15px;
		top: 50%;
        position: absolute;
        padding: 0;
	}

	.cart--icon__link {
        background: url('../img/cart.svg') no-repeat center;
        background-size: auto 100%;

		@include breakpoint('extra-large-and-up') {
			position: relative;
            border-left: none;
		}
	}
}

.nav, .cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    padding: 81px 15px 0 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    max-width: 80%;
	
	@include breakpoint('extra-large-and-up') {
		width: 30%;
        padding-top: 225px;
        max-width: 100%;
	}

	@include breakpoint('medium-and-up') {
		width: 350px;
	}
}


.nav {
    left: -100%;
    background: #212121;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
	transition: left 0.3s;

	@include breakpoint('extra-large-and-up') {
		position: absolute;
		height: auto;
		width: 100%;
		left: auto;
		right: auto;
		padding-top: 0;
		background: #141414;
		box-shadow: none;
		z-index: 4;
		top: 160px;
		padding: 15px 0;
    }

	&.speed-in {
		left: 0;
	}

    .nav__list {
        margin: 0;
		padding: 0;
		flex-wrap: wrap;
		list-style: none;

		@include breakpoint('extra-large-and-up') {
			flex-wrap: nowrap;
		}

		.current {
			box-shadow: inset 3px 0 #2196f3;
		}

		.nav__item {
			width: 100%;

			@include breakpoint('extra-large-and-up') {
                display: inline-block;
                width: auto;

				&:not(:first-child)  {
					margin-left: 1em;
		
					.nav__link {
						padding: 1em 1.4em;
					}
				}
		
				&:last-child .nav__link {
					padding: 1em 0 1em 1.4em;
				}
			}

			.nav__link {
				display: block;
				height: 50px;
				line-height: 50px;
				padding: 0 1em;
				border-bottom: 1px solid #3c3c3c;

				@include breakpoint('extra-large-and-up') {
					display: inline-block;
					height: auto;
					line-height: 1;
					border-bottom: none;
					color: rgba(255, 255, 255, 0.8);
					border-radius: 0.25em;
					padding: 1em 1.4em 1em 0;
					font-size: 0.8em;

					&.current {
						box-shadow: none;
						color: #FFF;
					}
				}
			}
		}
	}

}

.cart {
    right: -100%;
    background: #212121;
	transition: right 0.3s;

	&.speed-in {
		right: 0;
	}


	.cart__list {
		padding: 0;

		.cart__item {
			position: relative;
			padding: 1em;
			border-top: 1px solid #e0e6ef;

			&:last-child {
				border-bottom: 1px solid #e0e6ef;
			}


            .cart__item--remove {
                margin-left: 10px;
            }
		}
    }
    

	.cart__price {
		margin-top: .4em;
		color: #a5aebc;
	}

	.cart__qty {
		color: #a5aebc;
	}

	.cart__total {
		padding-top: 1em;
		padding-bottom: 1em;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		span {
			float: right;
		}
	}

	.cart__button--checkout {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: #4CAF50;
		color: #FFF;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
	}
}

.search {

    .search__input {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: url('../img/search.svg') no-repeat 9px center;
        border: 0;
        padding: 9px 25px 9px 40px;
        transition: all .5s;
        width: 100%;
        height: 50px;
        color: transparent;
        cursor: pointer;
        box-sizing: border-box;
        background-color: #fff;
        margin-top: 10px;

        @include breakpoint('extra-large-and-up') {
            width: 50px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 10em;
            background-color: transparent;
            margin: 0;
        }

        &:focus {
            padding-left: 45px;
            color: #000;
            cursor: auto;

            @include breakpoint('extra-large-and-up') {
                width: 26%;
                background-color: #fff;
            }
        }

        &:hover {
            background-color: #fff;
        }

        &:-moz-placeholder, &::-webkit-input-placeholder {
            color: transparent;
        }
    }
}